body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.selected:before {
  content: '\2713 ';
}

.not-selected:before {
  content: '\2003';
  white-space: pre;
}

.sumbittedRating {
  font-size: 11px;
  display: inline-block;
  position: absolute;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  color: green;
}

.message {
  margin-top: 1rem;
}

.progress-bar-classes {
}

.movie-card {
  margin-top: 1.5em;
}

.movie-category {
  margin-bottom: 0.8em;
}

.logo {
  color: grey;
  font-size: 2.1rem;
}

.pagination {
  margin-top: 1.5em;
}

.select-rating-label {
  margin-bottom: 0px;
  margin-top: 3px;
}
